// Page background
$background: #222;

// Main contrast color
$text-color: #fff;

// line color
$border-color: #444;

// header gradient
$header-background: linear-gradient(#333, #111);

// hover, input and buttons color highlight
$highlight-color: #333;

// marker color
$mark-color: #111;
