// Page background
$background: #fff;

// Main contrast color
$text-color: #000;

// line color
$border-color: #dedede;

// header gradient
$header-background: linear-gradient(#fff, #eee);

// hover, input and buttons color highlight
$highlight-color: #efefef;

// marker color
$mark-color: #ddd;
