@import "./variables";

#_ymock_root_ {
  .configure-response {
    .title {
      font-size: 1.3em;
      line-height: 2.5em;
      padding: 0 16px;
      border-bottom: 1px solid $border-color;
    }

    .request-info {
      display: flex;
      border-bottom: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;

      div {
        padding: 16px;
      }

      .method {
        border-right: 1px solid $border-color;
        font-weight: bold;
        font-size: 0.9em;
        background: $mark-color;
      }

      .path {
      }
    }

    .configure-form {
      padding: 24px 0;
    }
  }
}
