@import "./variables";

#_ymock_root_ {
  .title {
    font-size: 1.3em;
    line-height: 2.5em;
    padding: 0 16px;
    border-bottom: 1px solid $border-color;
  }

  div.input {
    padding-bottom: 16px;
    label {
      line-height: 2em;
    }
  }

  input,
  textarea,
  select,
  button {
    box-sizing: border-box;
    border: 1px solid $border-color;
    background: transparent;
    color: $text-color;
    padding: 12px 2%;
    width: 100%;
    &:focus {
      background: $highlight-color;
    }
  }

  select,
  button {
    box-sizing: border-box;
    width: 100%;
  }

  button {
    cursor: pointer;
    &:hover {
      background: $highlight-color;
    }
    &.primary {
      font-size: 1.1em;
    }
  }
}
