@import "./variables";

#_ymock_root_ {
  div.input {
    padding-bottom: 16px;
    label {
      line-height: 2em;
    }
  }

  input,
  textarea,
  select,
  button {
    box-sizing: border-box;
    border: 1px solid $border-color;
    background: transparent;
    color: $text-color;
    padding: 12px 2%;
    width: 100%;
    &:focus {
      background: $highlight-color;
    }
  }

  textarea {
    white-space: pre;
    scrollbar-color: $border-color;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  select,
  button {
    box-sizing: border-box;
    width: 100%;
  }

  select {
    // appearance: none;
    cursor: pointer;
  }

  button {
    cursor: pointer;
    &:hover {
      background: $highlight-color;
    }
    &.primary {
      font-size: 1.1em;
    }
  }

  .input-checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    &.checked {
      color: $ok-color;
    }
    label {
      cursor: pointer;
    }
  }

  div.error {
    font-size: 0.8em;
    padding: 10px;
    margin: 10px 0;
    border: 1px dotted $error-color;
  }
}
