@import "./variables";

#_ymock_root_ {
  .input-json {
    position: relative;
    button.format {
      position: absolute;
      top: -32px;
      right: 0;
    }

    &.no-errors button.format {
      color: $ok-color;
    }

    &.has-errors button.format {
      color: $error-color;
    }
  }
}
