@import "./variables";

#_ymock_root_ {
  .navigation {
    .title {
      font-size: 1.3em;
      line-height: 2.5em;
      padding: 0 16px;
      border-bottom: 1px solid $border-color;
    }

    input.search {
      box-sizing: border-box;
      border: none;
      padding: 10px 20px;
      width: 100%;
      outline: none;
    }

    ul {
      list-style-type: none;
      padding: 10px 0;
      li {
        a {
          display: block;
          font-size: 0.9em;
          // line-height: 3em;
          padding: 6px 16px;
          // transition: transform 0.2s;
          &:hover {
            background: $highlight-color;
            // transform: translate(5px);
          }
          span {
            display: inline-block;
            line-height: 2em;
            &.method {
              font-size: 0.9em;
              font-weight: bold;
              // border: 1px solid #444;
              background: $mark-color;
              border-radius: 3px;
              padding: 0 8px;
            }
            &.path {
              padding-left: 8px;
            }
          }
        }
      }
    }
  }
}
